{% extends '../base.html'%}
{% block content %}
    <main>
        <div>
            <h1>Accounts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for accounts in account %}
                        <tr>
                            <td>{{ accounts.name }}</td>
                            <td>{{ accounts.number }}</td>
                            <td>
                                {{ accounts.receipts.all|length }}
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock %}