{% extends '../base.html'%}
{% block content %}
    <main>
        <div>
            <h1>Expense Catagories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expenses in expense %}
                        <tr>
                            <td>{{ expenses.name }}</td>
                            <td>
                                {{ expenses.receipts.all|length }}
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock %}