{% extends '../base.html'%}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for main_receipt in receipt %}
                    <tr>
                        <td>{{ main_receipt.vendor }}</td>
                        <td>{{ main_receipt.total }}</td>
                        <td>{{ main_receipt.tax }}</td>
                        <td>{{ main_receipt.date|date:'m-d-y' }}</td>
                        <td>{{ main_receipt.category}}</td>
                        <td>{{ main_receipt.account }}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
    </main>
    {% endblock %}